* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 70%;
}

.riga {
    text-align: center;
}

.riga:first-of-type {
    height: 48%;
    width: 100%;
}

.riga:last-child {
    height: 48%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.prodotto {
    position: relative;
    height: 100%;
    width: 20%;
    display: inline-block;
    border: 2px solid lightblue;
    border-radius: 20px;
}

.prodotto:first-child{
    background-image: url(img/ipad.jpg);
    background-size: cover;
    margin-right: 10px;
}

.prodotto:nth-child(2){
    background-image: url(img/iphone.jpg);
    background-size: cover;
    margin-right: 10px;
}

.prodotto:last-child{
    background-image: url(img/cuffie.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.prodotto :first-child {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 30px;
    border-radius: 0 20px 0 0;
}
#rosso {
    background-color: red;
}

#verde {
    background-color: green;
}

#cuore{
    height: 40px;
    width: 40px;
    transform: translate(-40%);
    position: absolute;
    left: 50%;
    bottom: 0;
    display: none;
}

#cuore p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: red;
}

.prodotto:hover #cuore{
    display: inline-block;
}
